src/*/release
src/*/debug
src/*/*.o
src/*/moc_*
src/*/qrc_res.cpp
src/*/Makefile*
src/*/object_script*
src/*/.qmake.stash
src/*/CatsFarm*
src/*/*.exe
src/*/*.app
src/*/*.rc
src/*/submit
src/*/cserver
src/*/cmanager
src/*/cmonitor
src/*/logger
src/*/utils
src/*/videovina
src/*/ui_main.h
bin
etc/info.json*
log/bugs.txt
qt/*/*zip
qt/*/*tar.gz
.vscode
.DS_Store
*.swp
*.swo
modules/ae/*.gz
node_modules


