#servers
    QTreeWidget
        @include treeitem
        background: $b17
        &::item
            #ram_bar
                &::chunk
                    &:horizontal 
                        border-radius: 2px
            #cpu_bar
                &::chunk
                    &:horizontal 
                        border-radius: 2px
                        background: $blue
