@import mixin

#submit_widget, #options
    #box_widget, #knobs_box
        background: $b15
        border-radius: 3px
        > QWidget
            background: none
    QLabel
        background: none

    QLineEdit
        @include textedit

    #combo_box
        @include combobox
    QPushButton
        @include button


