/* Black blue color */
* {
  color: #c7cbd1;
  margin: 0;
  padding: 0;
  outline: 0;
  background: #1c1e21;
  background-color: white;
  border: 0px;
  font-size: 11px; }

QWidget {
  background: #17191c; }

QMainWindow {
  qproperty-windowIcon: url("/opt/vinarender/resources/icons/icon.png"); }
  QMainWindow #centralwidget {
    border: 1px solid transparent; }
    QMainWindow #centralwidget::hover {
      border-color: rgba(0, 153, 255, 0.5); }
  QMainWindow::separator {
    background: #101213;
    width: 4px;
    border-style: outset;
    border-width: 1px; }
    QMainWindow::separator:hover {
      background: rgba(0, 153, 255, 0.2);
      border-color: rgba(0, 153, 255, 0.5); }
  QMainWindow QMessageBox {
    background: #1e2124; }
    QMainWindow QMessageBox QLabel {
      font-size: 13px;
      background: transparent; }
    QMainWindow QMessageBox QPushButton {
      padding: 3px;
      border-radius: 3px;
      background: #2e3238;
      border: 1px solid #2e3238; }
      QMainWindow QMessageBox QPushButton:hover {
        background: #33373d;
        color: white;
        border-color: #464b53; }
      QMainWindow QMessageBox QPushButton:pressed {
        border-color: #0099ff;
        color: #0099ff; }
  QMainWindow QInputDialog {
    background: #202327;
    width: 500px; }
    QMainWindow QInputDialog QLabel {
      background: transparent;
      font-size: 13px; }
    QMainWindow QInputDialog QPushButton {
      padding: 3px;
      border-radius: 3px;
      background: #2e3238;
      border: 1px solid #2e3238; }
      QMainWindow QInputDialog QPushButton:hover {
        background: #33373d;
        color: white;
        border-color: #464b53; }
      QMainWindow QInputDialog QPushButton:pressed {
        border-color: #0099ff;
        color: #0099ff; }
    QMainWindow QInputDialog QLineEdit {
      background: #2e3238;
      border: 1px solid #2e3238;
      padding: 3px;
      border-radius: 2px;
      margin-bottom: 20px; }
      QMainWindow QInputDialog QLineEdit:hover {
        background: #3a3f45;
        border-color: #464b53; }
      QMainWindow QInputDialog QLineEdit:focus {
        background: #3a3f45;
        border-color: #0099ff; }
  QMainWindow QScrollBar::horizontal {
    height: 10px; }
  QMainWindow QScrollBar:vertical {
    width: 10px; }
  QMainWindow QScrollBar::handle:horizontal, QMainWindow QScrollBar::handle:vertical {
    background: #3a3f45;
    min-height: 20px;
    border-radius: 5px;
    margin-left: 11;
    margin-right: 11; }
    QMainWindow QScrollBar::handle:horizontal:hover, QMainWindow QScrollBar::handle:vertical:hover {
      background: #0099ff; }
  QMainWindow QScrollBar::add-line:horizontal, QMainWindow QScrollBar::add-line:vertical, QMainWindow QScrollBar::sub-line:horizontal, QMainWindow QScrollBar::sub-line:vertical {
    background: #3a3f45; }
  QMainWindow QScrollBar::right-arrow:horizontal {
    image: url(/opt/vinarender/resources/images/right_arrow.png);
    width: 7px;
    height: 7px; }
  QMainWindow QScrollBar::left-arrow:horizontal {
    image: url(/opt/vinarender/resources/images/left_arrow.png);
    width: 7px;
    height: 7px; }
  QMainWindow QScrollBar::up-arrow:vertical {
    image: url(/opt/vinarender/resources/images/up_arrow.png);
    width: 7px;
    height: 7px; }
  QMainWindow QScrollBar::down-arrow:vertical {
    image: url(/opt/vinarender/resources/images/down_arrow.png);
    width: 7px;
    height: 7px; }
  QMainWindow QScrollBar::add-page:horizontal, QMainWindow QScrollBar::add-page:vertical, QMainWindow QScrollBar::sub-page:horizontal, QMainWindow QScrollBar::sub-page:vertical {
    background: none; }
  QMainWindow QMenu {
    background-color: #272b2f;
    border: 1px solid #1c3d54;
    border-radius: 2px; }
    QMainWindow QMenu::icon {
      padding-left: 15px; }
    QMainWindow QMenu::item {
      padding: 4px 15px 4px 15px; }
      QMainWindow QMenu::item:selected {
        background: #33373d;
        color: #0099ff; }
      QMainWindow QMenu::item:checked {
        text-decoration: underline; }
    QMainWindow QMenu::separator {
      background-color: #2e3238;
      margin: 5px;
      height: 1px; }
  QMainWindow QSplitter::handle::horizontal, QMainWindow QSplitter::handle::vertical {
    background: #17191c; }
    QMainWindow QSplitter::handle::horizontal:hover, QMainWindow QSplitter::handle::vertical:hover {
      background: #057fd2; }
  QMainWindow QSplitter::handle::horizontal {
    width: 3px; }
  QMainWindow QSplitter::handle::vertical {
    height: 3px; }
  QMainWindow #widget_title {
    font-weight: bold;
    color: #acb1b9;
    qproperty-alignment: AlignCenter;
    padding: 0px; }

#jobs {
  alternate-background-color: #2a2d32;
  background-color: #23262a;
  border: 1px solid #2a2d32;
  background: #272b2f; }
  #jobs QWidget {
    background: transparent; }
  #jobs::item {
    border-bottom: 1px solid #2e3238;
    border-top: 1px solid transparent;
    height: 30px; }
    #jobs::item:first {
      padding-left: 15px; }
    #jobs::item:selected {
      background-color: rgba(0, 153, 255, 0.1);
      border-color: rgba(0, 153, 255, 0.5);
      color: #c7cbd1; }
    #jobs::item:hover {
      background-color: rgba(0, 153, 255, 0.02);
      border-color: rgba(0, 153, 255, 0.5); }
    #jobs::item QProgressBar {
      max-height: 100px; }
      #jobs::item QProgressBar:horizontal {
        text-align: center; }
        #jobs::item QProgressBar:horizontal::chunk:horizontal {
          background: rgba(70, 75, 83, 0.2); }
      #jobs::item QProgressBar::chunk:horizontal {
        border-radius: 2px;
        background: #325064; }
  #jobs QHeaderView {
    border-bottom: 1px solid #17191c; }
    #jobs QHeaderView::section {
      background-color: #2a2d32;
      padding: 5px 10px 5px 10px;
      border: 0px solid transparent;
      margin-left: 1px;
      margin-top: 1px;
      margin-bottom: 1px; }

#tasks {
  alternate-background-color: #2a2d32;
  background-color: #23262a;
  border: 1px solid #2a2d32; }
  #tasks QWidget {
    background: transparent; }
  #tasks::item {
    border-bottom: 1px solid #2e3238;
    border-top: 1px solid transparent;
    height: 30px; }
    #tasks::item:first {
      padding-left: 15px; }
    #tasks::item:selected {
      background-color: rgba(0, 153, 255, 0.1);
      border-color: rgba(0, 153, 255, 0.5);
      color: #c7cbd1; }
    #tasks::item:hover {
      background-color: rgba(0, 153, 255, 0.02);
      border-color: rgba(0, 153, 255, 0.5); }
    #tasks::item QProgressBar {
      max-height: 100px; }
      #tasks::item QProgressBar:horizontal {
        text-align: center; }
        #tasks::item QProgressBar:horizontal::chunk:horizontal {
          background: rgba(70, 75, 83, 0.2); }
      #tasks::item QProgressBar::chunk:horizontal {
        border-radius: 2px;
        background: #325064; }
  #tasks QHeaderView {
    border-bottom: 1px solid #17191c; }
    #tasks QHeaderView::section {
      background-color: #2a2d32;
      padding: 5px 10px 5px 10px;
      border: 0px solid transparent;
      margin-left: 1px;
      margin-top: 1px;
      margin-bottom: 1px; }
  #tasks:item {
    height: 20px; }

#servers {
  alternate-background-color: #2a2d32;
  background-color: #23262a;
  border: 1px solid #2a2d32;
  background: #272b2f; }
  #servers QWidget {
    background: transparent; }
  #servers::item {
    border-bottom: 1px solid #2e3238;
    border-top: 1px solid transparent;
    height: 30px; }
    #servers::item:first {
      padding-left: 15px; }
    #servers::item:selected {
      background-color: rgba(0, 153, 255, 0.1);
      border-color: rgba(0, 153, 255, 0.5);
      color: #c7cbd1; }
    #servers::item:hover {
      background-color: rgba(0, 153, 255, 0.02);
      border-color: rgba(0, 153, 255, 0.5); }
    #servers::item QProgressBar {
      max-height: 100px; }
      #servers::item QProgressBar:horizontal {
        text-align: center; }
        #servers::item QProgressBar:horizontal::chunk:horizontal {
          background: rgba(70, 75, 83, 0.2); }
      #servers::item QProgressBar::chunk:horizontal {
        border-radius: 2px;
        background: #325064; }
  #servers QHeaderView {
    border-bottom: 1px solid #17191c; }
    #servers QHeaderView::section {
      background-color: #2a2d32;
      padding: 5px 10px 5px 10px;
      border: 0px solid transparent;
      margin-left: 1px;
      margin-top: 1px;
      margin-bottom: 1px; }
  #servers::item #ram_bar::chunk:horizontal {
    border-radius: 2px; }
  #servers::item #cpu_bar::chunk:horizontal {
    border-radius: 2px;
    background: #325064; }

QMenuBar {
  background-color: #272b2f;
  border-bottom: 1px solid #17191c;
  padding: 5px; }
  QMenuBar::item {
    background-color: transparent; }
    QMenuBar::item:selected {
      color: #0099ff; }
    QMenuBar::item::pressed {
      background-color: #33373d; }

#tool_bar {
  background: #1e2124; }
  #tool_bar #toolbar_button, #tool_bar #button_checkable {
    background: none;
    margin-right: 15px;
    font-size: 11px;
    border-right: 1px solid #464b53;
    padding-right: 20px;
    color: #e3e5e8; }
    #tool_bar #toolbar_button:hover, #tool_bar #button_checkable:hover {
      color: white; }
    #tool_bar #toolbar_button:pressed, #tool_bar #button_checkable:pressed {
      color: #0099ff; }
  #tool_bar #button_checkable {
    color: #515861; }
    #tool_bar #button_checkable:checked {
      color: #e3e5e8; }
  #tool_bar #combo_box #combobox_label {
    background: #2e3238;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    padding-left: 9px;
    padding-right: 9px; }
    #tool_bar #combo_box #combobox_label:hover {
      background: #33373d;
      color: white; }
  #tool_bar #combo_box #arrow {
    background: #2e3238;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px; }
    #tool_bar #combo_box #arrow:hover {
      background: #3a3f45; }
  #tool_bar QLabel {
    background: transparent; }
  #tool_bar #jobs_count {
    color: #0099ff; }
  #tool_bar #conection {
    color: red;
    border-right: 1px solid #464b53;
    padding-right: 15px;
    margin-right: 15px; }

#Log {
  background-color: #23262a;
  border-color: #ffaa00;
  border: 1px solid #2e3238;
  border-radius: 3px; }
  #Log #QCodeEditorLineWidget {
    background-color: #1c1e21; }

#groups {
  alternate-background-color: #2a2d32;
  background-color: #23262a;
  border: 1px solid #2a2d32;
  alternate-background-color: #2a2d32; }
  #groups QWidget {
    background: transparent; }
  #groups::item {
    border-bottom: 1px solid #2e3238;
    border-top: 1px solid transparent;
    height: 30px; }
    #groups::item:first {
      padding-left: 15px; }
    #groups::item:selected {
      background-color: rgba(0, 153, 255, 0.1);
      border-color: rgba(0, 153, 255, 0.5);
      color: #c7cbd1; }
    #groups::item:hover {
      background-color: rgba(0, 153, 255, 0.02);
      border-color: rgba(0, 153, 255, 0.5); }
    #groups::item QProgressBar {
      max-height: 100px; }
      #groups::item QProgressBar:horizontal {
        text-align: center; }
        #groups::item QProgressBar:horizontal::chunk:horizontal {
          background: rgba(70, 75, 83, 0.2); }
      #groups::item QProgressBar::chunk:horizontal {
        border-radius: 2px;
        background: #325064; }
  #groups QHeaderView {
    border-bottom: 1px solid #17191c; }
    #groups QHeaderView::section {
      background-color: #2a2d32;
      padding: 5px 10px 5px 10px;
      border: 0px solid transparent;
      margin-left: 1px;
      margin-top: 1px;
      margin-bottom: 1px; }
  #groups::item {
    height: 12px;
    padding-top: 5px;
    padding-bottom: 5px; }
    #groups::item QLabel {
      padding: 5px; }
    #groups::item:has-children {
      min-height: 200px;
      background: #202327; }
      #groups::item:has-children:selected {
        background-color: rgba(0, 153, 255, 0.1);
        border-color: rgba(0, 153, 255, 0.5);
        color: #c7cbd1; }
      #groups::item:has-children:hover {
        background-color: rgba(0, 153, 255, 0.02);
        border-color: rgba(0, 153, 255, 0.5); }
  #groups::branch {
    background: transparent;
    border-top: 1px solid transparent;
    border-bottom: 1px solid #2e3238; }
    #groups::branch:selected {
      background-color: rgba(0, 153, 255, 0.1);
      border-color: rgba(0, 153, 255, 0.5);
      color: #c7cbd1; }
    #groups::branch:hover {
      background-color: rgba(0, 153, 255, 0.02);
      border-color: rgba(0, 153, 255, 0.5); }
    #groups::branch:selected {
      background: #1f313f; }
    #groups::branch:hover {
      background: #22282e; }
    #groups::branch:has-children {
      background: #202327; }
      #groups::branch:has-children:selected {
        background: #1d303f; }
      #groups::branch:has-children:hover {
        background: #20272d; }
      #groups::branch:has-children:open {
        image: url("/opt/vinarender/resources/images/arrow_down_checked.png"); }
      #groups::branch:has-children:closed {
        image: url("/opt/vinarender/resources/images/arrow_right_normal.png"); }

#settings #zones_knobs, #settings #host_knobs {
  background: #2a2d32;
  border-radius: 2px; }
  #settings #zones_knobs QLabel, #settings #host_knobs QLabel {
    background: transparent;
    margin: 10px; }
  #settings #zones_knobs QLineEdit, #settings #host_knobs QLineEdit {
    background: #2e3238;
    border: 1px solid #2e3238;
    padding: 3px;
    border-radius: 2px;
    background: #3a3f45;
    border-color: #464b53; }
    #settings #zones_knobs QLineEdit:hover, #settings #host_knobs QLineEdit:hover {
      background: #3a3f45;
      border-color: #464b53; }
    #settings #zones_knobs QLineEdit:focus, #settings #host_knobs QLineEdit:focus {
      background: #3a3f45;
      border-color: #0099ff; }

#settings #third_knobs QWidget {
  background: #2a2d32;
  padding: 10px;
  border-radius: 2px; }

#settings #third_knobs QTabBar {
  background: transparent; }
  #settings #third_knobs QTabBar::tab {
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    background: #23262a;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    margin-right: 5px; }
    #settings #third_knobs QTabBar::tab:hover {
      color: #0099ff; }
    #settings #third_knobs QTabBar::tab:selected {
      background: #2a2d32;
      color: #0099ff; }

#settings #third_knobs QPlainTextEdit {
  background: #23262a;
  border-radius: 2px;
  border: 1px solid #33373d; }

#settings QPushButton {
  padding: 3px;
  border-radius: 3px;
  background: #2e3238;
  border: 1px solid #2e3238; }
  #settings QPushButton:hover {
    background: #33373d;
    color: white;
    border-color: #464b53; }
  #settings QPushButton:pressed {
    border-color: #0099ff;
    color: #0099ff; }

#options {
  max-height: 550px; }
  #options QWidget {
    background: transparent; }
  #options QLabel {
    background: transparent;
    margin-left: 10px; }
  #options QLineEdit {
    background: #2e3238;
    border: 1px solid #2e3238;
    padding: 3px;
    border-radius: 2px;
    margin-right: 10px; }
    #options QLineEdit:hover {
      background: #3a3f45;
      border-color: #464b53; }
    #options QLineEdit:focus {
      background: #3a3f45;
      border-color: #0099ff; }
  #options QPushButton {
    background: #2e3238;
    border: 1px solid #2e3238;
    padding: 10px;
    border-radius: 3px;
    font-size: 12px; }
    #options QPushButton:hover {
      border-color: #0099ff;
      color: #0099ff; }
  #options QComboBox #combobox_label {
    background: #2e3238;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    padding-left: 9px;
    padding-right: 9px; }
    #options QComboBox #combobox_label:hover {
      background: #33373d;
      color: white; }
  #options QComboBox #arrow {
    background: #2e3238;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px; }
    #options QComboBox #arrow:hover {
      background: #3a3f45; }
  #options #first_knobs, #options #second_knobs, #options #third_knobs {
    background: #1e2124;
    border-radius: 2px; }

#submit_widget #box_widget {
  background: #23262a;
  border-radius: 3px; }
  #submit_widget #box_widget > QWidget {
    background: none; }

#submit_widget QLabel {
  background: none; }

#submit_widget QLineEdit {
  background: #2e3238;
  border: 1px solid #2e3238;
  padding: 3px;
  border-radius: 2px; }
  #submit_widget QLineEdit:hover {
    background: #3a3f45;
    border-color: #464b53; }
  #submit_widget QLineEdit:focus {
    background: #3a3f45;
    border-color: #0099ff; }

#submit_widget #combo_box #combobox_label {
  background: #2e3238;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  padding-left: 9px;
  padding-right: 9px; }
  #submit_widget #combo_box #combobox_label:hover {
    background: #33373d;
    color: white; }

#submit_widget #combo_box #arrow {
  background: #2e3238;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px; }
  #submit_widget #combo_box #arrow:hover {
    background: #3a3f45; }

#submit_widget QPushButton {
  padding: 3px;
  border-radius: 3px;
  background: #2e3238;
  border: 1px solid #2e3238; }
  #submit_widget QPushButton:hover {
    background: #33373d;
    color: white;
    border-color: #464b53; }
  #submit_widget QPushButton:pressed {
    border-color: #0099ff;
    color: #0099ff; }

