[Unit]
Description=Service VinaRender Logger
After=network.target

[Service]
Type=forking
User=root
Group=root
ExecStart=/bin/sh -c "{{path}}/services/service.sh start logger none"
ExecStop=/bin/sh -c "{{path}}/services/service.sh stop logger none"
Restart=always
TimeoutStartSec=0

[Install]
WantedBy=default.target
