#options
    max-height: 550px
    QWidget
        background: transparent
        // padding: 20px
    QLabel
        background: transparent
        margin-left: 10px
    QLineEdit
        margin-right: 10px
        background: $b20
        border: 1px solid $b20
        padding: 10px
        border-radius: 2px
        &:hover
            background: $b25
            border-color: $b30
        &:focus
            background: $b25
            border-color: $base
    QPushButton
        background: $b20
        border: 1px solid $b20
        padding: 10px
        border-radius: 3px
        font-size: 12px
        &:hover
            border-color: $base
            color: $base
    QComboBox
        @include combobox
    #widget_opt_1, #widget_opt_2, #opt_comment_widget
        // padding-top: 20px
        // height: auto
        background: $b13
        border-radius: 2px
