#options
    max-height: 40px
    QWidget
        background: transparent
        // padding: 20px
    QLabel
        background: transparent
        margin-left: 10px
    QLineEdit
        margin-right: 10px
        background: $b20
        border: 1px solid $b20
        padding: 10px
        border-radius: 2px
        &:hover
            background: $b25
            border-color: $b30
        &:focus
            background: $b25
            border-color: $base
    QPushButton
        background: $b20
        border: 1px solid $b20
        padding: 10px
        border-radius: 3px
        font-size: 12px
        &:hover
            border-color: $base
            color: $base
    QComboBox
        margin-right: 10px
        background-color: $b20
        border: 1px solid $b20
        padding: 7px
        border-radius: 2px
        &:focus 
            border-color: $b22
        &::drop-down 
            background-color: transparent
        &:hover 
            background: $b22
        QAbstractItemView 
            background-color: $b13
        &:item
            font-size: 13px
            &:selected 
                background-color: $b20
                color: $base
                padding-left: 0px
        &::indicator 
            background-color: transparent
    #widget_opt_1, #widget_opt_2, #opt_comment_widget
        // padding-top: 20px
        // height: auto
        background: $b13
        border-radius: 2px
