#servers
    alternate-background-color: $b18
    background-color: $b15
    border: 1px solid $b18
    &::branch 
        border-bottom: 1px solid $b20
        &:has-children:closed 
            image: url(#{$images}/right_arrow.png)
            background-color: transparent
            &:selected
                background-color: transparent
                border-bottom: 1px solid $b20
                color: $b20
            &:hover
                background-color: red
        &:open 
            image: url(#{$images}/down_arrow.png)
            background-color: transparent
            &:selected
                background-color: red
                border-bottom: 1px solid $b20
                color: $b20
        &:selected
            background-color: $b20
            border-bottom: 1px solid $b20
            color: $b20
        // &::!has-children:alternate:hover 
        //     background-color: rgb(35, 40, 45)

    &::item 
        border-bottom: 1px solid $b20
        height: 30px
        &:selected
            background-color: $blue
            border-bottom: 1px solid $b20
            color: $b80
        &:hover
            background-color: $blue

        
        QProgressBar
            max-height: 100px 
            &:horizontal 
                  
                text-align: center
                &::chunk
                    &:horizontal 
                        background: rgba($b30,.2)
            
            &::chunk
               
                
                &:horizontal 
                    border-radius: 2px
                    background: $blue
        #ram_bar

            &::chunk
                
                
                &:horizontal 
                    border-radius: 2px
                    background: $green