QToolBar
    background: $b15
    border-bottom: 1px solid $b7
    border-style: outset
    padding: 7px


    &:top, &:bottom 
        background-color: $b13
    &::separator  
        background-color: $b20
        width: 1 
        margin: 7
    QToolButton 
        background-color: transparent
        &::hover 
            background-color: $b20
            border: 1px solid $b22
        // qproperty-icon: url(#{$svg}/all.svg)
        
        
        // background-image: url(#{$svg}/all.svg)
        background-image: url(#{$images}/close.png)
        
        
        
        
        