/* Black blue color */
* {
  color: #c7cbd1;
  margin: 0;
  padding: 0;
  outline: 0;
  background: #1c1e21;
  background-color: white;
  border: 0px;
  font: 8pt "Tahoma"; }

QWidget {
  background: transparent; }

#jobs {
  alternate-background-color: #2a2d32;
  background-color: #23262a;
  border: 1px solid #2a2d32; }
  #jobs::branch {
    border-bottom: 1px solid #2e3238; }
    #jobs::branch:has-children:closed {
      image: url(/home/pancho/Documents/GitHub/vinarender/src/monitor/sass/images/right_arrow.png);
      background-color: transparent; }
      #jobs::branch:has-children:closed:selected {
        background-color: transparent;
        border-bottom: 1px solid #2e3238;
        color: #2e3238; }
      #jobs::branch:has-children:closed:hover {
        background-color: red; }
    #jobs::branch:open {
      image: url(/home/pancho/Documents/GitHub/vinarender/src/monitor/sass/images/down_arrow.png);
      background-color: transparent; }
      #jobs::branch:open:selected {
        background-color: red;
        border-bottom: 1px solid #2e3238;
        color: #2e3238; }
    #jobs::branch:selected {
      background-color: #2e3238;
      border-bottom: 1px solid #2e3238;
      color: #2e3238; }
  #jobs::item {
    border-bottom: 1px solid #2e3238;
    border-top: 1px solid transparent;
    height: 30px; }
    #jobs::item:selected {
      background-color: rgba(255, 180, 0, 0.1);
      border-color: rgba(255, 180, 0, 0.5);
      color: #c7cbd1; }
    #jobs::item:hover {
      background-color: rgba(255, 180, 0, 0.02);
      border-color: rgba(255, 180, 0, 0.5); }
    #jobs::item QProgressBar {
      max-height: 100px; }
      #jobs::item QProgressBar:horizontal {
        text-align: center; }
        #jobs::item QProgressBar:horizontal::chunk:horizontal {
          background: rgba(70, 75, 83, 0.2); }
      #jobs::item QProgressBar::chunk:horizontal {
        border-radius: 2px;
        background: #325064; }

#servers {
  alternate-background-color: #2a2d32;
  background-color: #23262a;
  border: 1px solid #2a2d32; }
  #servers::branch {
    border-bottom: 1px solid #2e3238; }
    #servers::branch:has-children:closed {
      image: url(/home/pancho/Documents/GitHub/vinarender/src/monitor/sass/images/right_arrow.png);
      background-color: transparent; }
      #servers::branch:has-children:closed:selected {
        background-color: transparent;
        border-bottom: 1px solid #2e3238;
        color: #2e3238; }
      #servers::branch:has-children:closed:hover {
        background-color: red; }
    #servers::branch:open {
      image: url(/home/pancho/Documents/GitHub/vinarender/src/monitor/sass/images/down_arrow.png);
      background-color: transparent; }
      #servers::branch:open:selected {
        background-color: red;
        border-bottom: 1px solid #2e3238;
        color: #2e3238; }
    #servers::branch:selected {
      background-color: #2e3238;
      border-bottom: 1px solid #2e3238;
      color: #2e3238; }
  #servers::item {
    border-bottom: 1px solid #2e3238;
    height: 30px; }
    #servers::item:selected {
      background-color: #325064;
      border-bottom: 1px solid #2e3238;
      color: #c7cbd1; }
    #servers::item:hover {
      background-color: #325064; }
    #servers::item QProgressBar {
      max-height: 100px; }
      #servers::item QProgressBar:horizontal {
        text-align: center; }
        #servers::item QProgressBar:horizontal::chunk:horizontal {
          background: rgba(70, 75, 83, 0.2); }
      #servers::item QProgressBar::chunk:horizontal {
        border-radius: 2px;
        background: #325064; }
    #servers::item #ram_bar::chunk:horizontal {
      border-radius: 2px;
      background: #0a8246; }

#Log {
  background-color: #23262a;
  border-color: #ffaa00;
  border: 1px solid #2e3238;
  border-radius: 3px; }
  #Log #QCodeEditorLineWidget {
    background-color: #1c1e21; }

#groups::item:selected, #groups::branch:selected, #groups::branch:has-children:closed:selected, #groups::branch:open:selected {
  background-color: #1e2d3c;
  border-bottom: 1px solid #233237;
  color: #c8c8c8; }

#settings #settings_ip_widget {
  background: #2a2d32;
  border-radius: 2px; }
  #settings #settings_ip_widget QLabel {
    background: transparent;
    margin: 10px; }
  #settings #settings_ip_widget QLineEdit {
    background: #3a3f45;
    padding: 10px;
    border: 1px solid #464b53;
    border-radius: 2px; }
    #settings #settings_ip_widget QLineEdit:focus {
      border-color: #ffb400; }

#settings #settings_tabs QWidget {
  background: #2a2d32;
  padding: 10px;
  border-radius: 2px; }

#settings #settings_tabs QTabBar {
  background: transparent; }
  #settings #settings_tabs QTabBar::tab {
    background: #23262a;
    padding: 8px;
    margin-right: 5px; }
    #settings #settings_tabs QTabBar::tab:hover {
      color: #ffb400; }
    #settings #settings_tabs QTabBar::tab:selected {
      background: #2a2d32;
      color: #ffb400; }

#settings #settings_tabs QPlainTextEdit {
  background: #23262a;
  border-radius: 2px;
  border: 1px solid #33373d; }

#settings QPushButton {
  background-color: #2a2d32;
  border: 1px solid #2a2d32;
  border-radius: 2px;
  padding: 10px;
  font-size: 12px; }
  #settings QPushButton::hover {
    background-color: #33373d;
    border-color: #ffb400;
    color: #ffb400; }

#options QLabel {
  background: transparent;
  padding: 10px; }

#options QLineEdit {
  background: #2e3238;
  border: 1px solid #2e3238;
  padding: 10px;
  border-radius: 2px; }
  #options QLineEdit:hover {
    background: #3a3f45;
    border-color: #464b53; }
  #options QLineEdit:focus {
    background: #3a3f45;
    border-color: #ffb400; }

#options QPushButton {
  background: #2e3238;
  border: 1px solid #2e3238;
  padding: 10px;
  border-radius: 3px;
  font-size: 12px; }
  #options QPushButton:hover {
    border-color: #ffb400;
    color: #ffb400; }

#options QComboBox {
  background-color: #2e3238;
  border: 1px solid #2e3238;
  padding: 7px;
  border-radius: 2px; }
  #options QComboBox:focus {
    border-color: #33373d; }
  #options QComboBox::drop-down {
    background-color: transparent; }
  #options QComboBox:hover {
    background: #33373d; }
  #options QComboBox QAbstractItemView {
    background-color: #1e2124;
    border: 1px solid #ffb400;
    border-radius: 27px; }
  #options QComboBox:item {
    font-size: 13px; }
    #options QComboBox:item:selected {
      background-color: #2e3238;
      color: #ffb400;
      padding-left: 0px; }
  #options QComboBox::indicator {
    background-color: transparent; }

#options #opt_job_name_widget, #options #opt_frame_range_widget {
  background: #23262a;
  border-radius: 2px; }
