[Unit]
Description=Service VinaRender Manager
After=network.target

[Service]
Type=forking
ExecStart=/bin/sh -c "{{path}}/os/linux/init/service.sh start vmanager 7000"
ExecStop=/bin/sh -c "{{path}}/os/linux/init/service.sh stop vmanager 7000"
Restart=always
TimeoutStartSec=0

[Install]
WantedBy=default.target
