[Unit]
Description=Service VinaRender Server
After=network.target

[Service]
Type=forking
ExecStart=/bin/sh -c "{{path}}/os/linux/init/service.sh start vserver 7001"
ExecStop=/bin/sh -c "{{path}}/os/linux/init/service.sh stop vserver 7001"
Restart=always
TimeoutStartSec=0

[Install]
WantedBy=default.target
